name: Update ATIS WebPage
on:
  schedule:
    - cron: '30 * * * *'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Mis à jour de v3 à v4

      - name: Set up Python
        uses: actions/setup-python@v5 # Mis à jour de v4 à v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests edge-tts

      - name: Run script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python script.py

      - name: Commit and Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add index.html atis.mp3
          git commit -m "Mise à jour automatique de l'ATIS" || exit 0
          git push
